<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webcomm.DownloadCaseMapper">
	<select id="serachUploadCases" parameterType="Downloader" resultType="UploadCase">
		SELECT * FROM upload_case WHERE customerName = #{customerName}
	</select>
</mapper>